body, .bars, #home {
    margin: 0;
    padding: 0;
    
}

body { 
	background-color: #c0c0c0;
}

.bars, #taskbar, .taskbar-scroll {
    width:  100%;
}

#home h1 {
	background-color: black;
	color: white;
	text-align: center;
	padding: 25px;
	margin-top:  0px;
}

div.bars {
	margin-bottom: 10px;
}
.taskbar-scroll {
	position: fixed;
	z-index: 1;
	top: 0;
	background-color: #fff;
}

#taskbar, .taskbar-scroll {
	transition:  background-color .3s ease; 
}

#fix {
	margin-left: 97.5px;
}
/*  The phantom class beow exists so that when the toolbar is fixed there is no sudden offset */

#phantom {
	visibility: hidden;
	position: fixed;
	z-index: 1;
	width: 100%;
}

.tools button, #taskbar button {
	float: right;
	background-color: #cccccc;
}
	
.addContent input {
	width:  100%;
	float: right;
	margin-bottom: 5px;
}

.addContent {
	background-color: #0080ff;
	border-radius: 10px;
}

.nav-pills li a {
	color: #0080ff;
}

.nav-pills li.active a {
	background-color: #0080ff;
}

.main div {
	background-color: #ebebe0;
	border-radius: 10px;
	position: relative;
}

div#poll {
	background-color: #0080ff;
	margin-left: 10px;
	border-radius: 10px;
	color: #fff;
}