body {
    margin: 0;
    padding: 0;
}

.banner h1 {
	background-color: black;
	color: white;
	text-align: center;
}

.tools button, .taskbar button {
	float: right;
	background-color: #cccccc;
}
	
.addContent input {
	width:  100%;
	float: right;
}

.addContent {
	background-color: #0080ff;
	border-radius: 10px;
}

.nav-pills li a {
	color: #0080ff;
}

.nav-pills li.active a {
	background-color: #0080ff;
}

.main div {
	background-color: #ebebe0;
	border-radius: 10px;
}

div#poll {
	background-color: #0080ff;
	margin-left: 10px;
	border-radius: 10px;
}